#navbar {
    height: 60px;
    padding: 0px 10px 0px 16px;
}

.app-name {
    color: #007bff;
    /* Here is the primary bootstrap color */
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0rem 1rem;
}

.left-header {
    margin-left: auto;
}

.left-header-box-element {
    border-left: 1px solid #aeaeae;
    width: 60px;
}

.notification {
    color: #007bff;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#content {
    background-color: #e5e5e5;
    padding: 100px 40px 40px 290px;
    min-height: 100vh;
    transition: all 0.3s;
}

.add {
    margin-left: auto;
    cursor: pointer;
    color: #007bff;
    font-size: 2rem;
}

#content.active {
    padding: 100px 40px 40px 40px;
}

ul {
    display: block;
    margin: 1rem 1rem;
}

li {
    margin: 1rem 0rem;
    padding: 0.3rem 0rem;
    border-bottom: 1px solid #f0f0f0;
    color: rgba(73, 73, 73, 0.3);
}

li a {
    color: rgb(73, 73, 73);
    margin-left: 1rem;
    font-weight: bold;
    color: rgba(73, 73, 73, 0.5);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    color: black;
    background-color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        padding: 100px 40px 40px 40px;
    }
    #content.active {
        padding: 100px 40px 40px 29 0px;
    }
}